.item {
  border-bottom: 1px solid gray;
  list-style: none;
  margin: 0;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li:last-child {
  border-bottom: none;
}

.name {
  color: darkcyan;
  margin: 0;
  cursor: pointer;
}

.detailsContainer{
  display: flex;
}

.date {
  color: lightslategray;
  font-size: 0.9rem;
  margin: 0;
  padding-top: 5px;
}

.air {
  margin: 0;
  padding: 8px 0;
  font-size: 0.9rem;
}


@media (max-width: 940px) {

  .item {
    margin: 0 30px;
  }
}