.mainContainer {
  padding: 0;
  margin: 0;
  display: flex;
}


.mapContainer {
  position: absolute;
  /* left: 350px; */
  width: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
}


.listContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 0;
  width: 30%;
  max-width: 350px;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
}

@media (max-width: 940px) {
  .mainContainer {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }
  .mapContainer {
    left: 0;
    width: 100%;
    top: 80px;
    bottom: 230px;
    height: 60%;
    z-index: 1;
  }
  .listContainer {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    /* overflow: scroll; */
    bottom:0;
  }
}
