.contiainer {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    margin: 0;
    align-self: center;
    height: 25%;
}
.switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
}
.switch span {
    font-size: 0.9rem;
    color: lightslategray;
    padding-right: 15px;
}

.updated {
    font-size: 0.9rem;
    color: lightslategray;
    padding-right: 15px;
}


@media (max-width: 940px) {
    .contiainer {
        top: 0;
        left: 0;
        background-color: rgba(255,255,255, 0.8);
        flex-direction: row;
        width: 100%;
        height: 80px;
        justify-content: space-between
    }
    .contiainer img {
        width: 150px;
    }

    .header {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }

    .switch {
        position: fixed;
        right: 30px;
       
    }
    .switch span{
        display: none;
    }

    .updated{
        position: fixed;
        right: 30px;
        top: 50px;
        padding: 0;
        font-size: 0.75rem;
    }

}