.mapGlPopup {
  z-index: 10;
  overflow: hidden;
  padding: 0;
  cursor: initial;
  
}
.container {
    width: 250px;
  
}
.popupHeader {
    border-bottom: 1px solid lightslategrey;
    padding: 10px 0;
    text-align: right;
}
.popupHeader h4 {
  color: #008b8b;
  padding-bottom: 5px;
  margin: 0;
  
}
.name {
  padding: 0;
  margin: 0;
  
}

.time {
  color: lightslategrey;
  font-size: 0.7rem;
  text-align: right;
}

.content{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.aqi{
    font-size: 2 rem;
    background-color: lawngreen;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;  
    justify-content: center;
    align-content: center;  
}
.aqi h2{
    margin: 0;      
}

.aqi span {
    font-size: 0.8rem;
}
span {
    text-align: center;
}
.values {
    flex-grow: 1;
    text-align: right;
    font-size: 0.9rem;
}
.values span {
    font-size: 0.9rem;
    font-weight: 700;

}
