.pin {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: -1000;
}

.imgContainer img {
    width: 50px;
    z-index: -1000;
}

.description {
    position: absolute;
    text-align: center;
    font-size: 10px;
    padding-bottom: 5px;
    word-wrap: normal;
    line-height: 8px;
}