.list {
  position: relative;
  padding: 0 15px 0 30px;
  height: 75%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style: none;
}


@media (max-width: 940px) {

  .list {
    position: fixed;
    width: 100vw;
    overflow: scroll;
    left: 0%;
    bottom: 0;
    height: 230px;
    overflow-y: scroll;
    padding: 0;
  }
}
