.loader {
    background: linear-gradient(90deg, rgba(100,140,139,1) 0%, rgba(223,240,235,1) 49%, rgba(167,195,203,1) 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(100,140,139,1);
}